<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<!--Definimos el componente frontproyecto-app -->
<dom-module id="frontproyecto-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!-- [[prop1]] es un enlace que se tiene que sustituir en este caso por lo
      que retorna la función del script. Esto es one way lo que quiere decir
      que sólo se recoge el valor en un sentido y con {{prop1}} seria two way
      y actualizaría el valor en dos sentidos-->
    <!-- Primera prueba: <h2>Hello [[prop1]]!</h2> -->
    <h2>Soy [[first_name]] [[last_name]]</h2>
    <h3>y tengo [[age]] años</h3>
    <input type="text" value="{{first_name::input}}"/>
    <input type="text" value="{{last_name::input}}"/>
    <input type="range" min="18" value="{{age::input}}" max="70"/>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
     // get is define el nombre del componente cuando se consulta
    class FrontproyectoApp extends Polymer.Element {
      static get is() { return 'frontproyecto-app'; }
      static get properties() {
        return {
          //prop1: {
            //type: String
            // Si pasasemos el valor directamente en la llamada al objeto
            // desde el htmlst
            //,
            //value: 'World!!!'
              first_name: {
                type: String
              },
              last_name: {
                type: String
              },
              age: {
                type: Number
              }
        };
      }
    }
    //Enlaza en el objeto window proporcionando la función get que define
    //define el objeto y el nombre de la clase que la maneja
    window.customElements.define(FrontproyectoApp.is, FrontproyectoApp);
  </script>
</dom-module>
