<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<!--Definimos el componente frontproyecto-app -->
<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <h2>Datos de Usuario</h2>

    <div class="row">
      <h3 class="col-md-1">Hola</h3>
      <h3 class="col-md-7">Soy Bootstrap</h3>
    </div>

    <input type="email" placeholder="Email" value="{{email::input}}"/>
    <input type="password" placeholder="Password" value="{{password::input}}"/>
    <button class="btn btn-success" on-click="login"> Login</button>
    <button class="btn btn-warning"> Logout</button>
<!--En la siguiente sentencia el $ indica a polymer que tiene que controlar
este valor -->
    <span hidden$="{{!logged}}">Bienvenido a casa usuario</span>
    <!-- Hacemos la petición-->
    <iron-ajax
      id="doLogin"
      method="POST"
      url="http://localhost:3000/apitechu/v2/login"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">
    <!--<input type="text" value="{{first_name::input}}"/>-->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
     // get is define el nombre del componente cuando se consulta
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          id: {
            type: Number
          },
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          email: {
            type: String
          },
          password: {
            type: String
          },
          logged: {
            type: Boolean,
            value : false
          }
        };
      }

      login(){
        console.log("Botón login pulsado");
        var loginData = {
          "email" : this.email,
          "pwd" : this.password
        };
        //Con this.$ accedemos al shadow DOM de polymer
        // Con JSON.stringify le decimos que convierta el objeto loginData
        // a un JSON en string
        console.log(loginData)
        this.$.doLogin.body=JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log("Peticion Enviada");
      }

      manageAJAXResponse(data){
        console.log("Respuesta recibida");
        console.log(data.detail.response);
        this.logged=true;
      }

      showError(error){
        console.log("Hubo un error");
        console.log(error);
      }

    }

    //Enlaza en el objeto window proporcionando la función get que define
    //define el objeto y el nombre de la clase que la maneja
    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
