<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<!--Definimos el componente frontproyecto-app -->
<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- [[prop1]] es un enlace que se tiene que sustituir en este caso por lo
      que retorna la función del script. Esto es one way lo que quiere decir
      que sólo se recoge el valor en un sentido y con {{prop1}} seria two way
      y actualizaría el valor en dos sentidos-->
    <!-- Primera prueba: <h2>Hello [[prop1]]!</h2> -->
    <h2>Datos de Cuentas</h2>
    <!-- Pintamos los datos recuperados -->
    <!-- <h3>IBAN: {{iban}}</h3>
    <h3>Balance: {{balance}}</h3> -->
    <template is="dom-repeat" items="{{accounts}}">
      <div class="row">
        <span class="col-md-3">IBAN: {{item.iban}}</span>
        <span class="col-md-2">Balance: {{item.balance}}</span>
        <br>
      </div>
      <!-- <span>IBAN: {{item.iban}}</span>
      <span>Balance: {{item.balance}}</span>
      <br> -->
    </template>
    <iron-ajax auto=""
      id="getAccounts"
      url="http://localhost:3000/apitechu/v2/users/{{id}}/accounts"
      handle-as="json"
      on-response="showData">
    <!--<input type="text" value="{{first_name::input}}"/>-->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
     // get is define el nombre del componente cuando se consulta
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          id: {
            type: Number
          },
          iban: {
            type: String
          },
          balance: {
            type: Number
          },
          accounts: {
            type:Array
          }
        };
      }

      showData(data){
        console.log("showData");
        console.log(data.detail.response);
        this.accounts=data.detail.response;
        // this.iban= data.detail.response[0].iban;
        // this.balance= data.detail.response[0].balance;
      }

    }

    //Enlaza en el objeto window proporcionando la función get que define
    //define el objeto y el nombre de la clase que la maneja
    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
