<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<!--Definimos el componente page-not-found -->
<dom-module id="emisor-evento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>Soy el emisor</h1>
    <button on-click="sendEvent">Enviar Evento</button>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
     // get is define el nombre del componente cuando se consulta
    class EmisorEvento extends Polymer.Element {
      static get is() { return 'emisor-evento'; }
      static get properties() {
        return {}
      };

      sendEvent(e){
        console.log("Evento enviado");
        console.log(e);

        this.dispatchEvent(
          new CustomEvent(
            "myevent",
            {
              "detail" : {
                "course" : "TechU",
                "year" : "2018"
              }
            }
          )
        );
      }

    }
    //Enlaza en el objeto window proporcionando la función get que define
    //define el objeto y el nombre de la clase que la maneja
    window.customElements.define(EmisorEvento.is, EmisorEvento);
  </script>
</dom-module>
