<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<!--Definimos el componente frontproyecto-app -->
<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!-- [[prop1]] es un enlace que se tiene que sustituir en este caso por lo
      que retorna la función del script. Esto es one way lo que quiere decir
      que sólo se recoge el valor en un sentido y con {{prop1}} seria two way
      y actualizaría el valor en dos sentidos-->
    <!-- Primera prueba: <h2>Hello [[prop1]]!</h2> -->
    <h2>Datos de Usuario</h2>
    <!-- Pintamos los datos recuperados -->
    <h3>Nombre: {{first_name}} {{last_name}}</h3>
    <h3>Email: {{email}}</h3>
    <iron-ajax auto=""
      id="getUser"
      url="http://localhost:3000/apitechu/v2/users/{{id}}"
      handle-as="json"
      on-response="showData">
    <!--<input type="text" value="{{first_name::input}}"/>-->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
     // get is define el nombre del componente cuando se consulta
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          id: {
            type: Number
          },
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          email: {
            type: String
          }
        };
      }

      showData(data){
        console.log("showData");
        console.log(data.detail.response);
        this.first_name= data.detail.response.first_name;
        this.last_name= data.detail.response.last_name;
        this.email= data.detail.response.email;
      }

    }

    //Enlaza en el objeto window proporcionando la función get que define
    //define el objeto y el nombre de la clase que la maneja
    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
