<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<!--Definimos el componente page-not-found -->
<dom-module id="page-not-found">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>Aquí no hay nada que ver</h1>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
     // get is define el nombre del componente cuando se consulta
    class PageNotFound extends Polymer.Element {
      static get is() { return 'page-not-found'; }
      static get properties() {
        return {}
      };
    }
    //Enlaza en el objeto window proporcionando la función get que define
    //define el objeto y el nombre de la clase que la maneja
    window.customElements.define(PageNotFound.is, PageNotFound);
  </script>
</dom-module>
